<div id="<%= dom_id address, :class => "address-"+ address.id.to_s %>">
  <p>
    <strong>Firstname:</strong>
    <%= address.firstName %>
  </p>

  <p>
    <strong>Middlename:</strong>
    <%= address.middleName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= address.lastName %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= address.street %>
  </p>

  <p>
    <strong>Town:</strong>
    <%= address.town %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= address.zipCode %>
  </p>

  <p>
    <strong>State:</strong>
    <%= address.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= address.country %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= address.comment %>
  </p>

</div>
