<p style="color: green"><%= notice %></p>

<div class="d-flex align-items-center justify-content-center">
    <h1>Addresses</h1>
</div>

<div class="d-flex align-items-center justify-content-center">
  <%= link_to "New address", new_address_path, :class => "btn btn-primary" %> |
  <%= link_to "Back to contacts", contacts_path, :class => "btn btn-primary" %>
</div>

<% @addresses.each do |address| %>
  <div id="addresses" class="d-flex align-items-center justify-content-center">
    <%= render address %>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <p>
      <%= link_to "Show this address", address, :class => "btn btn-primary" %>
    </p>
  </div>
<% end %>
