<p style="color: green"><%= notice %></p>

<div class="d-flex align-items-center justify-content-center">
  <h1>Address Info</h1>
</div>
<br>

<div class="d-flex align-items-center justify-content-center">
  <%= render @address %>
</div>
<br>

<div class="d-flex align-items-center justify-content-center">
  <%= link_to "Edit this address", edit_address_path(@address), :class => "btn btn-primary" %> |
  <%= link_to "Back to addresses", addresses_path(first_name: @address.firstName, middle_name: @address.middleName, last_name: @address.lastName), :class => "btn btn-primary" %> |

  <%= button_to "Destroy this address", @address, method: :delete, :class => "btn btn-primary" %>
</div>
