<div id="<%= dom_id email %>">
  <p>
    <strong>Firstname:</strong>
    <%= email.firstName %>
  </p>

  <p>
    <strong>Middlename:</strong>
    <%= email.middleName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= email.lastName %>
  </p>

  <p>
    <strong>Emailaddress:</strong>
    <%= email.emailAddress %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= email.comment %>
  </p>

</div>
