<div class="d-flex align-items-center justify-content-center">
  <%= form_with model: [email], id: "emails-form" do |form| %>
    <% if email.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(email.errors.count, "error") %> prohibited this email from being saved:</h2>

        <ul>
          <% email.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :firstName, 'First Name', style: "display: block", :class => "form-label"%>
      <%= form.text_field :firstName, :class => "form-control", :required => true %>
    </div>

    <div class="mb-3">
      <%= form.label :middleName, 'Middle Name', style: "display: block", :class => "form-label" %>
      <%= form.text_field :middleName, :class => "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :lastName, 'Last Name', style: "display: block", :class => "form-label" %>
      <%= form.text_field :lastName, :class => "form-control", :required => true %>
    </div>

    <div class="mb-3">
      <%= form.label :emailAddress, 'Email Address', style: "display: block", :class => "form-label" %>
      <%= form.text_field :emailAddress, :class => "form-control", :required => true %>
    </div>

    <div class="mb-3">
      <%= form.label :comment, style: "display: block", :class => "form-label" %>
      <%= form.text_area :comment, :cols => 3, :class => "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.submit :class => "btn btn-primary"%>
    </div>
  <% end %>
</div>