<p style="color: green"><%= notice %></p>

<div class="d-flex align-items-center justify-content-center">
  <h1>Email Info</h1>
</div>
<br>

<div class="d-flex align-items-center justify-content-center">
  <%= render @email %>
</div>
<br>

<div class="d-flex align-items-center justify-content-center">
<%= link_to "Edit this email", edit_email_path(@email), :class => "btn btn-primary" %> |
  <%= link_to "Back to emails", emails_path(first_name: @email.firstName, middle_name: @email.middleName, last_name: @email.lastName), :class => "btn btn-primary" %> |

  <%= button_to "Destroy this email", @email, method: :delete, :class => "btn btn-primary" %>
</div>
