<div id="<%= dom_id phone_number %>">
  <p>
    <strong>Firstname:</strong>
    <%= phone_number.firstName %>
  </p>

  <p>
    <strong>Middlename:</strong>
    <%= phone_number.middleName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= phone_number.lastName %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= phone_number.number %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= phone_number.comment %>
  </p>

</div>
