<div id="<%= dom_id contact , :class => "d-flex align-items-center justify-content-center contact-"+ contact.id.to_s %> ">

  <p>
    <strong>Salutation:</strong>
    <%= contact.salutation %>
  </p>
  <p>
    <strong>Firstname:</strong>
    <%= contact.firstName %>
  </p>

  <p>
    <strong>Middlename:</strong>
    <%= contact.middleName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= contact.lastName %>
  </p>

  <p>
    <strong>SSN:</strong>
    <%= contact.SSN %>
  </p>

  <p>
    <strong>birthDate:</strong>
    <%= contact.birthDate %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= contact.comment %>
  </p>

</div>
